@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

@font-face {
    font-family: 'bon';
    src: url(Bon\ Foyage.otf) format(opentype);
}

html {
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.banner {
    padding: 0 20px;
    width: 100%;
    height: 100vh;
}

body {
    font-family: 'Dancing Script', cursive;
    animation: trans 4s ease-in-out;
    margin: 0;
    padding: 0;
        background: rgb(226, 24, 58);
    /* background: linear-gradient(
    to bottom,
    rgba(226, 24, 58, 1) 0%,
    rgba(199, 0, 23, 1) 65%,
    rgba(199, 0, 23, 1) 100%
    ); */
}

a {
    color: #f8f8f8;
    animation: trans1 4s ease-in-out;
}

.vine {
    position: absolute;
    inset: auto auto 0 50%;
    transform: translate(-50%, 35%);
    width: 450px;
    z-index: -2;
    animation: fadeIn 4s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@media (min-width: 480px) {
    .vine {
        display: none;
    }
}

@keyframes trans {
    from {
        background: #f8f8f8;
    } to {
        background: rgb(226, 24, 58);
        /* background: linear-gradient(
        to bottom,
        rgba(226, 24, 58, 1) 0%,
        rgba(199, 0, 23, 1) 65%,
        rgba(199, 0, 23, 1) 100%
        ); */
    }
}

#canvas {
    position: absolute;
    inset: 0 0 0 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

@keyframes trans1 {
    from {
        color: #ac0000;
    } to {
        color: #f8f8f8;
    }
}

.small {
    font-size: 50px;
}

.container {
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: #f8f8f8;
    font-size: 72px;
    font-weight: bolder;
    animation: trans1 4s ease-in-out;
    text-shadow: 0px 4px 12px #000000ba;
    line-height: 1;
}

.content {
    color: #f8f8f8;
    font-family: 'bon';
    font-size: 34px;
    line-height: 1.6;
    animation: trans1 4s ease-in-out;
}